body, html {
    width:395px;
 }


 #headers{
     font-size:40px;
     font-family: open sans;
     color:#ffff;
     align-items: center;
     text-align: center;
 }
 
 #fun_fact{
     font-size: 25px;
     font-family: open sans;
     color:#ffff;
     align-items: center;
     padding:10px;
 }

 #desc{
    font-size: 20px;
    font-family: open sans;
     color:#ffff;
     align-items: center;
     padding:10px;
}

 .meet_page {
     display:flex;
     flex-direction:column;
     background-color:#0D1E4B;
 }

 #results{
    align-items: left;  
    padding:10px;
 }

 .shark_silhuette{
     padding-bottom: 20px;
     padding:10px;
     display:inline-flex;
     font-size:30px;
     font-family: open sans;
     color:#ffff;
 }

 .shark_location{
    padding-bottom: 20px;
    padding:10px;
    display:inline-flex;
    font-size:30px;
    font-family: open sans;
    color:#ffff; 
}

.shark_status{
    padding-bottom: 20px;
    padding:10px;
    display:inline-flex;
    font-size:30px;
    font-family: open sans;
    color:#ffff;
}