body, html {
    width:100%;
 }

 #back_btn {
     position:absolute;
     top:6px;
     left:10px;
 }

 #headers{
     margin-top:30px;
     align-items: center;
     text-align: center;
 }

 #shark_name {
     position:relative;
     bottom:5px;
     margin-left:20px;
     margin-right:20px;
     margin-bottom:20px;
 }

 .shark_result {
    display:flex;
    align-items: center;
    justify-content: center;
 }

 #shark_result_img {
     background-color:rgba(255, 255, 255, 0.938);
     padding:30px;
     border-radius:15px;
     position:relative;
     width:60%;
     opacity:0%;
     /* left:100%; */
 }
 
 #fun_fact{
    display:flex;
    justify-content: center;
    margin-top:40px;
    margin-left:20px;
    margin-right:20px;
 }

 #desc{
    font-size: 20px;
    font-family: open sans ;
     color:#ffff;
     align-items: center;
     padding-left:40px;
     padding-right:40px;
     display:flex;
     align-items: center;
     justify-content: center;
}

#desc_inner {
    max-width: 700px;
}

 .meet_page {
     display:flex;
     flex-direction:column;
     background-color:#0D1E4B;
     /* opacity:50%; */
 }

 #results{
    align-items: left;  
    padding:10px;
 }

 #sections {
     /* display:flex;
     flex-direction:column; */
     display:flex;
     justify-content: center;
     align-items: center;
 }

 .shark_section{
    display:inline-flex;
 }

 .sections_inner {
     display:flex;
     flex-direction: column;
 }

 .sections_text {
    padding-left:20px;
 }

 #shark_size {
     /* margin-right:30px; */
     padding:10px;
     padding-bottom:25px;
 }

 #size_text {
     position:relative;
     bottom:37px;
 }

 #location {
     /* margin-right:45px; */
    position:relative;
 }

 #location_text {
     position:relative;
     bottom:5px;
 }

 #status {
     /* margin-right:30px; */
     padding-top:10px;
     padding-left:3px;
 }

 #status_text {
    position:relative;
    top:30px;
 }

 .shark_location{
    /* padding-left:30px; */
    display:inline-flex;
}

.shark_status{
    padding-bottom: 25px;
    margin-left:-25px;
    display:inline-flex;
}

#help_button {
    padding-bottom:50px;
    padding-top:30px;
    display:flex;
    justify-content: center;
}