body, html {
    width:395px;
 }


 #headers{
     font-size:40px;
     font-family: open sans;
     color:#ffff;
     align-items: center;
 }
 
 #fun_fact{
     font-size: 25px;
     font-family: open sans;
     color:#ffff;
     align-items: center;
 }

 #desc{
    font-size: 20px;
    font-family: open sans;
     color:#ffff;
     align-items: center;
}

 .meet_page {
     padding:0px 10px 0px 10px;
     display:flex;
     flex-direction:column;
     background-color:#0D1E4B;
 }

 #results{
    align-items: left;  
 }
/*  
 .shark_shadows {
     margin-top:15px;
     margin-bottom:-8px;
     cursor:pointer;
 }
 
 .shark_sizes {
     margin-top:-20px;
     margin-bottom:5px;;
     cursor:pointer;
 }  */