@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body, html {
    width:395px;
}

.help_page {
    background-color:#0D1E4B;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-bottom:30px;
}

#page_title {
    font-size:30px;
    color:#FFF;
    font-family:'Open Sans', sans-serif;
    font-weight:bolder;
    margin-top:20px;
}

#go_home_button {
    /* display:flex;
    flex-direction:column;
    align-items: center; */
}

.info {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    max-width: 500px;
    color:#FFF;
    font-weight: normal;
    text-align: left;
    /* align-items: center; */
    flex-direction: column;
    flex: 2;
}

.links {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    max-width: 500px;
    font-weight: normal;
    color: #9FFFEF;
    text-align: left;
    /* align-items: center; */
    flex-direction: column;
    flex: 2;
}

.thanks {
    font-family: 'Open Sans', sans-serif;
    color:#FFF;
    font-size: 25px;
    max-width: 500px;
    font-weight: regular;
    text-align: left;
    /* align-items: center; */
    flex-direction: column;
    flex: 2;
}

.info, .links, .thanks, #page_title {
    margin-right:40px;
    margin-left:40px;
}
