@import url(https://fonts.google.com/specimen/Open+Sans?sidebar.open&selection.family=Open+Sans);

.step {
   display:inline-block;
   border-radius:18px;
   padding:15px;
   font-family:'Open Sans', sans-serif;
   font-size:45pt;
   color:#FFF;
   background-color: #0D1E4B;
   margin:10px;
}

.pick_your_shark{
    display:inline-flex;
    border-radius:18px;
    padding:15px;
    font-family:'Open Sans', sans-serif;
    font-size:45pt;
    color:#FFF;
    background-color: #0D1E4B;
    margin:10px;
}
