@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

.pick_your_shark {
    display:inline-flex;
    border-radius:18px;
    padding:15px;
    font-family:'Sniglet', cursive;
    font-weight:500;
    font-size:50pt;
    color:#FFF;
    background-color: #0D1E4B;
    margin:10px;
    cursor:pointer;
}
