body, html {
    width:100%;
    overflow-x: hidden;
 }

 #back_btn {
    position:absolute;
    top:18px;
    left:10px;
    cursor:pointer;
}

#pick_shark {
    margin-left:10px;
    margin-right:10px;
    position:relative;
    left:100%;
}

.size {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .game_page {
     display:flex;
     flex-direction:column;
     align-items: center;
     background-color:#0D1E4B;
     padding-bottom:50px;
 }
 
 .shark_shadows {
     margin-top:15px;
     margin-bottom:-8px;
     cursor:pointer;
 }
 
 .shark_sizes {
     margin-top:-20px;
     margin-bottom:5px;;
     cursor:pointer;
 } 

 #small_icon, #med_icon, #large_icon {
    opacity:0;
 }