body, html {
    width:395px;
 }
 
 .game_page3 {
     padding:0px 10px 0px 10px;
     display:flex;
     flex-direction:column;
     align-items: center;
     background-color:#0D1E4B;
 }
 
 .status_icons {
     margin-top:15px;
     margin-bottom:-20px;
     cursor:pointer;
 }
 
 .status_title {
     margin-top:-20px;
     margin-bottom:5px;;
     cursor:pointer;
 }