body, html {
    width:395px;
 }
 
 #back_btn {
    position:absolute;
    top:6px;
    left:10px;
}

 .game_page2 {
     padding:0px 10px 0px 10px;     
     display:flex;
     flex-direction:column;
     align-items: center;
     background-color:#0D1E4B;
 }
 
 .location_icons {
     margin-top:15px;
     margin-bottom:-8px;
     cursor:pointer;
 }
 
 .location_title {
     margin-top:-20px;
     margin-bottom:5px;;
     cursor:pointer;
 }